$headerH : 52px;
$maxWidth : 1280px;

header {
    width: 100%;
    height: $headerH;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #1F2937;
    margin: 0 auto;

   
    .content{
        width: $maxWidth;
        height: $headerH;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        color: white;
        .tittle_box{
            font-size: large;
            font-weight: 600;
            color: white;
        }

        .user_box{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }

}

.banner {
    color: white;
    width: 100%;
    height: 745.9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
 
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                          url('https://media.istockphoto.com/id/955656136/es/foto/joven-es-practicar-yoga-en-la-monta%C3%B1a.jpg?s=170667a&w=0&k=20&c=zUNKCx1KRS8W_fskEFkYNQsDy03OEVEvY_4vMN_fY3g=');
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 104%; /* phóng to ảnh, tức là crop bớt viền */
background-position: bottom right; /* hiển thị phần phía trên và bên trái */
background-position-y: 80%;


        color: white;
      
    
}

.popular-classes h4 {
    font-size: 1.8rem;
}

.card img {
    height: 180px;
    object-fit: cover;
    ;
}


